package ticket 

import (
	"github.com/dsaldias/server/graph_auth/model"
	"github.com/templui/templui/components/table"
	"github.com/templui/templui/components/tabs"
	"github.com/dsaldias/server/dataadmin/pages/utility"
	"time"
)

templ Tickets(tickets, alls []*model.RespTickets, paginacion utility.MiPaginacion, url_refresh, url_refresh_all string) {
	@tabs.Script()
	@tabs.Tabs(tabs.Props{
		ID:    "account-tabs",
		Class: "my-0",
	}) {
		@tabs.List(tabs.ListProps{
			Class: "w-full max-w-xs",
		}) {
			@tabs.Trigger(tabs.TriggerProps{
				Value:    "account",
				IsActive: true,
			}) {
				Mis tickets
			}
			@tabs.Trigger(tabs.TriggerProps{
				Value: "password",
			}) {
				Todos los tickets
			}
		}
		<div class="w-full max-w mt-0">
			@tabs.Content(tabs.ContentProps{
				Value:    "account",
				IsActive: true,
			}) {
				@utility.TablaAdmin(utility.MiTablaProps{
					Titulo:      "Tickets",
					Descripcion: "Administración y gestión de tickets de soporte",
					UrlRefresh:  url_refresh,
					ListaID:     "lista-tickets",
					Acciones:    HeaderAcciones(),
				}, paginacion) {
					@ListaTickets(tickets)
				}
			}
			// 
			@tabs.Content(tabs.ContentProps{
				Value: "password",
			}) {
				@TicketsAll(alls,paginacion, url_refresh_all)
			}
		</div>
	}
}

templ ListaTickets(tickets []*model.RespTickets) {
	@table.Table() {
		@table.Header() {
			@table.Row() {
				@table.Head() {
					ID
				}
				@table.Head() {
					Problema
				}
				@table.Head() {
					Respuestas
				}
				@table.Head() {
					Estado
				}
				@table.Head() {
					Fecha registro
				}
				@table.Head()
			}
		}
		@table.Body() {
			for _, ti := range tickets {
				@table.Row() {
					@table.Cell() {
						{ ti.ID }
					}
					@table.Cell() {
						{ ti.Problema }
					}
					@table.Cell() {
						{ parseString(ti.Respuesta) }
					}
					@table.Cell() {
						{ ti.Estado }
					}
					@table.Cell() {
						{ parseTime(ti.FechaRegistro) }
					}
					@table.Cell(table.CellProps{Class: "m-0 p-0"}) {
						@utility.TablaAdminContextual(
							ti.Problema,
						) {
							@utility.BtnVerTicket(ti)
							@utility.BtnResponderTicket(ti)
						}
					}
				}
			}
		}
	}
}

templ HeaderAcciones() {
	@utility.BtnNuevoTicket()
}

func parseTime(t time.Time) string {
	return t.Format("02/01/2006 15:04")
}

func parseString(s *string) string {
	if s == nil {
		return ""
	}
	return *s
}
