package roles  

import (
	"github.com/dsaldias/server/graph_auth/model"
	"github.com/templui/templui/components/table"
	"github.com/dsaldias/server/dataadmin/pages/utility"
	"time"
)

templ Roles(roles []*model.ResponseRoles,paginacion utility.MiPaginacion, url_refresh string) {
	@utility.TablaAdmin(utility.MiTablaProps{
		Titulo:      "Roles",
		Descripcion: "Administración y gestión de roles de acceso al sistema",
		UrlRefresh:  url_refresh,
		ListaID:     "tabla-roles",
		Acciones:    HeaderAcciones(),
	}, paginacion) {
		@ListaRoles(roles,paginacion)
	}
}

templ ListaRoles(roles []*model.ResponseRoles, paginacion utility.MiPaginacion) {
	@table.Table() {
		@table.Header() {
			@table.Row() {
				@table.Head() {
					ID
				}
				@table.Head() {
					Nombre
				}
				@table.Head() {
					Descripcion
				}
				@table.Head() {
					Jerarquia
				}
				@table.Head() {
					Menus
				}
				@table.Head() {
					Permisos
				}
				@table.Head() {
					Usuarios
				}
				@table.Head()
			}
		}
		@table.Body() {
			for _, rol := range roles {
				@table.Row() {
					@table.Cell() {
						{ rol.ID }
					}
					@table.Cell() {
						{ rol.Nombre }
					}
					@table.Cell() {
						{ parseString(rol.Descripcion) }
					}
					@table.Cell() {
						{ rol.Jerarquia }
					}
					@table.Cell() {
						{ rol.Menus }
					}
					@table.Cell() {
						{ rol.Permisos }
					}
					@table.Cell() {
						{ rol.Usuarios }
					} 
					@table.Cell(table.CellProps{Class: "m-0 p-0"}) {
						@utility.TablaAdminAcciones(
							rol.Nombre,
						) {
							@utility.BtnVerRol(rol)
							@utility.BtnEditarRol(rol)
						}
					}
				}
			}
		}
	}
	@utility.AdminTablePaginacion(paginacion)
}

templ HeaderAcciones() {
	@utility.BtnNuevoRol()
}

func parseTime(t *time.Time) string {
	if t == nil {
		return ""
	}
	return t.Format("02/01/2006 15:04")
}

func parseString(s *string) string {
	if s == nil {
		return ""
	}
	return *s
}
