package avisos 

import (
	"github.com/dsaldias/server/graph_auth/model"
	"github.com/templui/templui/components/table"
	"time"
	"github.com/dsaldias/server/dataadmin/pages/utility"
)

templ Avisos(avisos []*model.Notificacion,paginacion utility.MiPaginacion, url_refresh string) {
	@utility.TablaAdmin(utility.MiTablaProps{
		Titulo:      "Avisos y notificaciones",
		Descripcion: "Administración y gestión de avisos y alertas del sistema",
		UrlRefresh:  url_refresh,
		ListaID:     "lista-avisos",
		Acciones:    HeaderAcciones(),
	}, paginacion) {
		@ListaAvisos(avisos)
	}
}

templ ListaAvisos(avisos []*model.Notificacion) {
	@table.Table() {
		@table.Header() {
			@table.Row() {
				@table.Head() {
					ID
				}
				@table.Head() {
					Mensaje
				}
				@table.Head() {
					Creado por
				}
				@table.Head() {
					desde
				}
				@table.Head() {
					hasta
				}
				@table.Head() {
					Fecha registro
				}
				@table.Head()
			}
		}
		@table.Body() {
			for _, un := range avisos {
				@table.Row() {
					@table.Cell() {
						{ un.ID }
					}
					@table.Cell() {
						{ un.Mensaje }
					}
					@table.Cell() {
						{ un.CreadoPorID }
					}
					@table.Cell() {
						{ parseTime(un.Desde) }
					}
					@table.Cell() {
						{ parseTime(un.Hasta) }
					}
					@table.Cell() {
						{ parseTime(un.FechaRegistro) }
					}
					@table.Cell(table.CellProps{Class: "m-0 p-0"}) {
						@utility.TablaAdminAcciones(
							un.CreadoPorID,
						) {
							@utility.BtnVerAviso(un)
							@utility.BtnEditarAviso(un)
						}
					}
				}
			}
		}
	}
}

templ HeaderAcciones() {
	@utility.BtnNuevoAviso()
}

func parseTime(t time.Time) string {
	return t.Format("02/01/2006 15:04")
}

func parseString(s *string) string {
	if s == nil {
		return ""
	}
	return *s
}
