package unidades 

import (
	"github.com/dsaldias/server/dataadmin/pages/utility"
	"github.com/dsaldias/server/graph_auth/model"
	"github.com/templui/templui/components/selectbox"
	"github.com/templui/templui/components/table"
	"time"
)

templ Unidades(unidades []*model.Unidad, paginacion utility.MiPaginacion, url_refresh string) {
	@selectbox.Script()
	@utility.TablaAdmin(utility.MiTablaProps{
		Titulo:         "Unidades",
		Descripcion:    "Administración y gestión de unidades del sistema",
		UrlRefresh:     url_refresh,
		ListaID:        "lista-unidades",
		Acciones:       HeaderAcciones(),
		Busqueda:       true,
	}, paginacion) {
		@TablaUnidades(unidades, paginacion)
	}
}

templ TablaUnidades(unidades []*model.Unidad, paginacion utility.MiPaginacion) {
	@table.Table() {
		@table.Header() {
			@table.Row() {
				@table.Head() {
					ID
				}
				@table.Head() {
					Nombre
				}
				@table.Head() {
					Descripcion
				}
				@table.Head() {
					Orden
				}
				@table.Head() {
					Fecha registro
				}
				@table.Head()
			}
		}
		@table.Body() {
			for _, un := range unidades {
				@table.Row() {
					@table.Cell() {
						{ un.ID }
					}
					@table.Cell() {
						{ un.Nombre }
					}
					@table.Cell() {
						{ parseString(un.Descripcion) }
					}
					@table.Cell() {
						{ un.Orden }
					}
					@table.Cell() {
						{ parseTime(un.FechaRegistro) }
					}
					@table.Cell(table.CellProps{Class: "m-0 p-0"}) {
						@utility.TablaAdminContextual(
							un.Nombre,
						) {
							@utility.BtnVerUnidad(un)
							@utility.BtnEditarUnidad(un)
						}
					}
				}
			}
		}
	}
	@utility.AdminTablePaginacion(paginacion)
}

templ HeaderAcciones() {
	@utility.BtnNuevaUnidad()
}

func parseTime(t time.Time) string {
	return t.Format("02/01/2006 15:04")
}

func parseString(s *string) string {
	if s == nil {
		return ""
	}
	return *s
}
