package principal

import (
	"github.com/dsaldias/server/dataadmin/pages/mainlayout/layoutconfig"
	"github.com/dsaldias/server/graph_auth/model"
	"github.com/templui/templui/components/sidebar"
)

templ MainPageLayout(
	titulo string,
	unidadid string,
	menus []*model.Menus,
	roles []*model.ResponseRolMe,
	usuario *model.ResponseUsuario,
	contenido templ.Component,
	current_path string,
	config layoutconfig.Config,
) {
	@Layout(titulo, config) {
		@sidebar.Layout() {
			@Sidebar(titulo, current_path, menus, usuario, config, AssetVersion)
			@sidebar.Inset() {
				<div class={ config.WithDefaults().ShellClass }>
					@Header(roles, unidadid, config)
					<main
						id="contenido"
						class={ config.WithDefaults().MainClass }
					>
						@contenido
					</main>
				</div>
			}
		}
	}
}
