package principal

import (
	"github.com/dsaldias/server/dataadmin/pages/mainlayout/layoutconfig"
	"github.com/templui/templui/components/avatar"
	"github.com/templui/templui/components/badge"
	"github.com/templui/templui/components/collapsible"
	"github.com/templui/templui/components/dropdown"
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/sidebar"

	"github.com/dsaldias/server/dataadmin/pages/utility"
	xm "github.com/dsaldias/server/graph_auth/model"
)

templ Sidebar(titulo, current_path string, menus []*MenuGrupo, usuario *xm.ResponseUsuario, config layoutconfig.Config, asset_version string) {
	@dropdown.Script()
	@sidebar.Script()
	@collapsible.Script()
	// ESTE COMPONENTE ES NECESARIO PARA EDITAR EL PERFIL
	@utility.ModalGenerico(utility.ModalGenericoX{
		DialogID: "x-modal-perfil",
	})
	// 
	@sidebar.Sidebar(sidebar.Props{
		Collapsible: sidebar.CollapsibleIcon,
		Variant:     sidebar.VariantSidebar,
		Class:       config.WithDefaults().SidebarClass,
	}) {
		@sidebar.Header() {
			@sidebar.Menu() {
				@sidebar.MenuItem() {
					@sidebar.MenuButton(sidebar.MenuButtonProps{
						Href:    "/adminx/main",
						Tooltip: titulo,
					}) {
						// @icon.LayoutPanelLeft(icon.Props{Class: "size-4"})
						// ESTE CAMPO ES EDITADO DESDE WEBSOCKET.JS
						@badge.Badge(badge.Props{
							ID:    "ws_badge_indicator",
							Class: "bg-[#479066] text-white",
							Attributes: templ.Attributes{
								"title":                     "Se pone en el websocket.js",
								"data-conectados-badge": "true",
							},
						}) {
							<p
								id="ws_tabs_conectados"
							>
								<span
									data-ws-status
									class="size-2 rounded-full bg-green-500"
								></span>
								<span id="ws_total_conectados" data-conectados-1 >0</span>
							</p>
						}
						// 
						<span class="font-semibold">
							{ titulo }
						</span>
					}
				}
			}
		}
		@sidebar.Content() {
			@sidebar.Group() {
				@sidebar.GroupLabel() {
					Menu lateral
				}
				@sidebar.Menu(sidebar.MenuProps{
					ID: "x-sidebar-menus",
				}) {
					@MenuItems2(menus, current_path)
				}
			}
			@sidebar.Separator()
		}
		@sidebar.Footer() {
			@sidebar.Menu() {
				@sidebar.MenuItem() {
					@dropdown.Dropdown() {
						@dropdown.Trigger() {
							@sidebar.MenuButton(sidebar.MenuButtonProps{
								Size: sidebar.MenuButtonSizeLg,
							}) {
								@avatar.Avatar(avatar.Props{
									Class: "size-8 rounded-lg",
								}) {
									@avatar.Image(avatar.ImageProps{
										Src: foto_url(usuario.FotoURL),
									})
								}
								<div class="grid flex-1 text-left text-sm leading-tight">
									<span class="truncate font-medium">
										{ usuario.Nombres } { usuario.Apellido1 }
										{ segundoAp(usuario) }
									</span>
									<span class="truncate text-xs">
										{ correo(usuario) }
									</span>
								</div>
								@icon.ChevronsUpDown(icon.Props{
									Class: "ml-auto size-4",
								})
							}
						}
						@dropdown.Content(dropdown.ContentProps{
							Class:     "w-56",
							Placement: dropdown.PlacementTopStart,
						}) {
							@dropdown.Label() {
								{ usuario.Nombres } { usuario.Apellido1 }
								{ segundoAp(usuario) }
							}
							@dropdown.Separator()
							@dropdown.Item() {
								@utility.ModalButton(utility.BtnProps{
									ModalTitle:    "Editar perfil",
									HtmxGet:       "/adminx/usuarios/getperfil",
									HtmxPost:      "/adminx/usuarios/setperfil",
									Class:         "bg-grey-100 text-grey-700 hover:bg-blue-200 w-full justify-start text-left",
									DialogID:      "x-modal-perfil",
									BtnText:       "Perfil",
									Icon:          icon.PersonStanding(),
									NoSwapContent: true, // si en modalgenerico no pasamos TargetRefreshID, pongamos true pa evitar htmx:targetError
								})
							}
							@dropdown.Separator()
							@dropdown.Item(dropdown.ItemProps{
								Attributes: templ.Attributes{
									"href":    "#",
									"hx-get":  "/adminx/logout",
									"hx-swap": "none",
									"hx-on::after-request": `
            				window.location.replace('/adminx/');
        					`,
								},
							}) {
								<span class="flex items-center">
									@icon.LogOut(icon.Props{
										Class: "size-4 mr-2",
									})
									Cerrar sesion
								</span>
							}
						}
					}
				}
			}
		}
	}
	// 
	@Script(asset_version)
}

templ Script(asset_version string) {
	<script src={ "/assets/websocket.js?v=" + asset_version }></script>
}


func foto_url(s *string) string {
	if s == nil {
		return "https://avatars.githubusercontent.com/u/26936893?v=4"
	}
	return "/" + *s
}

func segundoAp(usuario *xm.ResponseUsuario) string {
	if usuario.Apellido2 != nil {
		return *usuario.Apellido2
	}
	return ""
}

func correo(usuario *xm.ResponseUsuario) string {
	if usuario.Correo != nil {
		return *usuario.Correo
	}
	return ""
}

func rutaActiva(currentPath, menuPath string) bool {
	return currentPath == menuPath
}

