package xlogin

import (
	"github.com/dsaldias/server/dataadmin/pages/mainlayout/layoutconfig"
	"github.com/dsaldias/server/dataadmin/pages/mainlayout/principal"
)

templ Inicio(asset_version string) {
	@principal.Layout("Iniciar sesión", layoutconfig.Default()) {
		@Login()
	}
	@Script(asset_version)
}

templ Script(asset_version string) {
	<script src={ "/assets/websocket_in_login.js?v=" + asset_version }></script>
}
