package utility

import (
	"github.com/templui/templui/components/alert"
	"github.com/templui/templui/components/icon"
)

templ ErrorTpl(e string) { 
	<div class="w-full max-w-xl">
		@alert.Alert() {
			@icon.ShieldAlert()
			/* @alert.Title() {
				Note
			} */
			@alert.Description() {
				{e}
			}
		}
	</div>
}